.header-wrapper {
    grid-template-areas:
        'bar-top bar-top bar-top'
        'bar-left subtitle-a bar-right-a'
        'bar-left subtitle-b bar-right-b'
        'bar-left title bar-right-b'
        'bar-left content-a bar-right-b';
    text-align: center;
}

.bar-top {
    box-sizing: border-box;
    grid-area: bar-top;
    background-color: var(--accent-color-hsl);
    transform: scaleX(1.4) translateX(-12vw);
}

.bar-left {
    grid-area: bar-left;
    background-color: var(--accent-color-hsl);
}

.bar-right-a {
    grid-area: bar-right-a;
    background-color: var(--accent-color-hsl);
}

.bar-right-b {
    grid-area: bar-right-b;
    background-color: var(--black-color-hsl);
}

.subtitle-a {
    grid-area: subtitle-a;
}

.title {
    grid-area: title;
}

.subtitle-b {
    grid-area: subtitle-b;
}

.content-a {
    grid-area: content-a;
    margin: 0 auto;
}

.box {
    padding: 10px;
    font-size: 150%;
}

.header,
.footer {
    background: lightgray;
}

@media (min-width: var(--tablet-screen)) {
    .header-wrapper {
        grid-template-areas:
            'bar-top bar-top bar-top bar-top bar-top bar-top bar-right-a'
            '...... ...... subtitle-a subtitle-a ubtitle-a  ...... bar-right-a'
            'bar-left subtitle-b ...... title  ...... ...... bar-right-b'
            'bar-left subtitle-b ...... content-a ...... ...... bar-right-b';
        text-align: left;
    }

    .subtitle-b {
        display: block;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        text-align: end;
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: var(--desktop-screen)) {
    .header-wrapper {
        grid-template-areas:
            'bar-top bar-top bar-top bar-top bar-top ...... bar-right-a'
            '...... ...... subtitle-a subtitle-a ......  ...... bar-right-a'
            'bar-left subtitle-b ...... title ...... ...... bar-right-b'
            'bar-left subtitle-b ...... content-a ...... ...... bar-right-b';
    }
}
