.main-wrapper {
    grid-template-areas:
        'bar2-a ...... ...... '
        'bar2-a ...... ......'
        'bar2-a ......  bar2-b'
        'bar2-a ......  bar2-b';
}

.bar-a {
    grid-area: bar2-a;
    background-color: var(--accent-color-hsl);
}

.bar-b {
    grid-area: bar2-b;
    background-color: var(--accent-color-hsl);
}

@media (min-width: 700px) {
    .main-wrapper {
        grid-template-areas:
            'bar2-a ...... ...... ...... ...... ...... ...... '
            'bar2-a ...... ...... ...... ...... ...... ...... '
            'bar2-a ...... ...... ...... ...... ......   bar2-b'
            'bar2-a ...... ...... ...... ...... ......   bar2-b';
    }
}
