@tailwind base;
@tailwind components;
@tailwind utilities;

// Lazy reset
* {
    padding: 0;
    margin: 0;
}

:root {
    --font-color-hsl: hsl(60, 4%, 5%);
    --accent-color-hsl: hsl(6, 69%, 53%);
    --black-color-hsl: hsl(0, 6%, 3%);
    --base-size: 1rem;
    --scale: 1.25;
    --h5: calc(var(--base-size) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h1: calc(var(--h2) * var(--scale));
    --tablet-screen: 720px;
    --desktop-screen: 1200px;
}

body {
    color: var(--font-color-hsl);
    background-image: url('./concrete-wall.png');
    margin: 0;
    padding: 0;
    font-family: var(--font-baumas);
}

h1,
.h1 {
    font-size: var(--h1);
}

h2,
.h2 {
    font-size: var(--h2);
}

h3,
.h3 {
    font-size: var(--h3);
}

h4,
.h4 {
    font-size: var(--h4);
}

h5,
.h5 {
    font-size: var(--h5);
}

.container {
    max-width: 375px;
    margin: 0 auto;
    margin-top: 3rem;
    height: 100vh;
}

.grid-wrapper {
    height: 100vh;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 20px auto 20px;
    grid-template-rows: 20px 120px 120px 120px auto;
}

@media (min-width: var(--tablet-screen)) {
    .container {
        max-width: 700px;
    }

    .grid-wrapper {
        grid-template-columns: 20px 50px 50px auto 50px 50px 20px;
        grid-template-rows: 20px 50px auto auto;
    }
}

@media (min-width: var(--desktop-screen)) {
    .container {
        max-width: 900px;
    }
}
