.wrapper {
    max-width: 375px;
    margin: 0 auto;
    margin-top: 3rem;
    height: 100vh;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 20px auto 20px;
    grid-template-rows: 20px 120px 120px 120px auto;
    grid-template-areas:
        'bar-top bar-top bar-top'
        'bar-left subtitle-a bar-right-a'
        'bar-left subtitle-b bar-right-b'
        'bar-left title bar-right-b'
        'bar-left ..... bar-right-b';
    text-align: center;
}

.bar-top {
    box-sizing: border-box;
    grid-area: bar-top;
    background-color: var(--accent-color-hsl);
    transform: scaleX(1.3) translateX(-12vw);
}

.bar-left {
    grid-area: bar-left;
    background-color: var(--accent-color-hsl);
}

.bar-right-a {
    grid-area: bar-right-a;
    background-color: var(--accent-color-hsl);
}

.bar-right-b {
    grid-area: bar-right-b;
    background-color: var(--black-color-hsl);
}

.subtitle-a {
    grid-area: subtitle-a;
}

.title {
    grid-area: title;
}

.subtitle-b {
    grid-area: subtitle-b;
}

.content-b {
    grid-area: content-b;
    display: none;
}

.box {
    padding: 10px;
    font-size: 150%;
}

.header,
.footer {
    background: lightgray;
}

@media (min-width: 650px) {
    .wrapper {
        max-width: 620px;
        grid-template-columns: 20px 50px auto 50px 50px 20px;
        grid-template-rows: 20px 50px auto auto;
        grid-template-areas:
            'bar-top bar-top bar-top bar-top bar-top bar-right-a'
            '...... ...... subtitle-a subtitle-a ...... bar-right-a'
            'bar-left subtitle-b title content-b content-b bar-right-b'
            'bar-left subtitle-b ...... content-b content-b bar-right-b';
        text-align: left;
    }

    .subtitle-b {
        display: block;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        text-align: end;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        max-width: 900px;
    }
}

// @media (min-width: 700px) {
//     .wrapper {
//         padding: 60px;
//         height: 100vh;
//         display: grid;
//         grid-gap: 30px;
//         grid-template-columns: 20px 50px auto 200px 50px 20px;
//         grid-template-rows: 20px 50px auto auto;
//         grid-template-areas:
//             'bar-top bar-top bar-top bar-top ...... bar-right-a'
//             '...... ...... title title ...... bar-right-a'
//             'bar-left subtitle-a subtitle content-b content-b bar-right-b'
//             'bar-left subtitle-a ...... content-b content-b bar-right-b';
//     }

//     .title {
//         justify-content: flex-start;
//         text-align: left;
//     }

// }
